@import url('https://fonts.googleapis.com/css?family=Bodoni+Moda:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700');

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
    background-color: #32273b;
    /* background-image: url("./images/tournament.png");
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-family: "Bodoni Moda";
    font-size: 40px;
    color: #DFB58C;
    font-weight: 400;
    line-height: 55px;
}

h2 {
    font-family: "Raleway";
    font-size: 21px;
    color: #ffffff;
    font-weight: 300;
    line-height: 30px;
}

h3 {
    font-family: "Bodoni Moda";
    font-size: 30px;
    color: #DFB58C;
    font-weight: 400;
}

h4 {
    font-family: "Raleway";
    font-size: 21px;
    color: #ffffff;
    font-weight: 300;
    line-height: 36px;
}

h5 {
    font-family: "Raleway";
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
}

h6 {
    font-family: "Bodoni Moda";
    font-size: 30px;
    color: #32273b;
    font-weight: 300;
}

p {
    font-family: "Raleway";
    font-size: 16px;
    color: #32273b;
    font-weight: 300;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #32273b;
    color: #DFB58C;
}

.nav-links a {
    color: #DFB58C;
}

.nav-links a:hover {
    color: #FEAF23;
    transition: 0.3s;
}

.active {
    border-bottom: 1px solid #DFB58C;
}

.active:hover {
    border-bottom: 1px solid #FEAF23;
}

/* LOGO */
.logo {
    font-family: "Bodoni Moda";
    font-size: 36px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 2em;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 300;
}

/* DROPDOWN */
.projects {
    position: relative;
}

.dropdown {
    background-color: #32273b;
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #32273b;
    color: #FEAF23;
}

.projects:hover .dropdown {
    display: block;
}

/* RESPONSIVE NAVBAR MENU */

/* CHECKBOX */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #32273b;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #32273b;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #32273b;
    }
}


/* FOOTER */

footer {
    background-color: #32273b;
    color: #DFB58C;
    padding: 5vw 10vw;
    /* text-align: center; */
}

footer h4 {
    color: #DFB58C;
    font-size: 1.5vw !important;
    font-weight: 100;
}

footer i {
    color: #DFB58C;
    font-size: 2vw !important;
    float: right;
    margin-left: 0.2vw;
}

footer i:hover {
    color: #FEAF23;
}

footer a {
    color: #DFB58C;
    font-size: 1.5vw !important;
    margin-right: 1vw;
    font-weight: 300;
}

footer a:hover {
    color: #FEAF23;
}

footer .row {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

footer .line-dec {
    width: 100%;
    height: 1px;
    background-color: #DFB58C;
    margin: 10px auto;
}


/* CONTENT */

.content {
    padding: 30px;
    background-color: #ffffff;
}

/* MISSION BOX */
.mission {
    width: 90%;
    /* min-height:250px; */
    text-align: center;
    background-color: #32273b;
    top: 16%;
    bottom: 16%;
    margin: auto;
    border-radius: 10px;
    /* padding: 70px 0; */
}

.mission-text {
    width: 55%;
    text-align: center;
    margin: auto;
    padding: 70px 0;
}

/* WORK BOX */
.work {
    width: 100%;
    /* min-height:250px; */
    background-color: #32273b;
    margin: auto;
    border-radius: 10px;
    top: 16%;
    /* padding: 70px 0; */
}

.work-text {
    width: 85%;
    margin: auto;
    padding: 70px 0;
}

.work img {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}


/* BLOG */
.projects-section {
    width: 90%;
    margin-left: 5%;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 60%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 40%;
    padding-left: 20px;
}

/* Fake image */
.projects-section img {
    max-width: 100%;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}